
$widthLeftMenu: 200px;

.admin-layout{
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    background-color: gray;

    &__left{
        background-color: darkgrey;
        width: $widthLeftMenu;
    }
    &__right{
        width: calc(100% - $widthLeftMenu);

        &-header{
            background-color: darkgray;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 0 10px;
        }

        &-content{
            position: relative;
            margin: 20px;
        }
    }

}